body {
    background: url("../imagenes/fondo-navidad-fresa.jpeg");
    background-size: contain;
    background-repeat: inherit;
    min-height: 100vh;
}

.menu .content2 .box2 {
    width: 300px;
    margin: 20px;

}

.menu .content2 .box2 .imgBx {
    position: relative;
    width: 300px;
    height: 500px;
}

.video-circle {
    border-radius: 4%;
    object-fit: cover;
    width: 300px;
    height: 500px;
}