body {
    background: url("../imagenes/fondo-navidad-cremita.jpeg");
    background-size: contain;
    background-repeat: inherit;
    min-height: 100vh;
}

.menu .content2 .box2 {
    width: 350px;
    margin: 20px;

}