@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "ChicuOficial-Regular";
    src: url("../fonts/ChicuOficial-Regular.woff");
}

@font-face {
    font-family: "Pacifico-Regular";
    src: url("../fonts/Pacifico.ttf");
}

@font-face {
    font-family: "DancingScript-Regular";
    src: url("../fonts/DancingScript-Regular.ttf");
}

@font-face {
    font-family: "DancingScript-Bold";
    src: url("../fonts/DancingScript-Bold.ttf");
}

@font-face {
    font-family: "DancingScript-SemiBold";
    src: url("../fonts/DancingScript-SemiBold.ttf");
}

@font-face {
    font-family: "DancingScript-Medium";
    src: url("../fonts/DancingScript-Medium.ttf");
}

@font-face {
    font-family: "Quicksand-Light";
    src: url("../fonts/Quicksand-Light.ttf");
}

@font-face {
    font-family: "Quicksand-Regular";
    src: url("../fonts/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: url("../fonts/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "Quicksand-Medium";
    src: url("../fonts/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Quicksand-SemiBold";
    src: url("../fonts/Quicksand-SemiBold.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
*,
[id] * {
    font-family: "ChicuOficial-Regular" !important;
}

p {
    font-weight: 300;
    color: rgb(33, 47, 61);
}



h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
*,
[id] * {
    font-family: "ChicuOficial-Regular" !important;
}

p {
    font-weight: 300;
    color: rgb(33, 47, 61);
}


.btn {
    font-size: 1em;
    color: #fff;
    background: #45B39D;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 100px;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    background: #34435c;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #E53935;
}

header .navigation {
    position: relative;
    display: flex;
    margin-bottom: 0rem !important;
}

header ul {
    position: relative;
    display: flex;
    margin-bottom: 0rem;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #ff0157;
}


.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width:499px) {
    header {
        padding: 48px 20px !important;
    }

    header.sticky {
        padding: 5px 20px !important;
    }

    header .navigation.activo {
        top: 96px !important;
    }

    header.sticky .navigation.activo {
        top: 58px !important;
    }

}


@media(max-width:991px) {

    

    header {
        padding: 24px 20px;
    }

    header.sticky {
        padding: 5px 20px;
    }

    header .navigation {
        display: none;
    }

    header.sticky .navigation.activo {
        top: 58px;
    }

    header .navigation.activo {
        width: 100%;
        height: cal(100% - 70px);
        position: fixed;
        top: 72px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuAlternar {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../icono/bot%C3%B3n-menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuAlternar.activo {
        background: url(../icono/bot%C3%B3n-cerrar-menu.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header .sticky .menuAlternar {
        filter: invert(1);
    }



    .titulo {
        text-align: center;
    }


}



.upper {
    text-transform: uppercase;
}



#whatsapp {
    z-index: 10000000;
    position: fixed;
    bottom: 20px;
    right: 0px;
}

svg {
    width: 80px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, .4));
}

circle {
    fill: #25d366;
}

path {
    fill: #fff;
}

.slider-top {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: white;
}

.slider-top ul {
    display: flex;
    padding: 0;
    width: 200%;
    margin-bottom: 0rem !important;
    animation: cambio 15s infinite normal linear;
}

.slider-top li {
    width: 100%;
    list-style: none;
}

@keyframes cambio {
    /* 0% { margin-left: 0;}
    20% { margin-left: 0;}
    
    25% { margin-left: -100%}
    45% { margin-left: -100%}
    
    50% { margin-left: -200%}
    70% { margin-left: -200%}
    
    75% { margin-left: -300%}
    100% { margin-left: -300%} */

    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 0;
    }

    55% {
        margin-left: -100%
    }

    95% {
        margin-left: -100%
    }
}



.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.menu .content2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}

.menu .content .box {
    width: 320px;
    margin: 20px;
    background-color: #fff;

}


.menu .content2 .box2 {
    width: 320px;
    margin: 20px;

}

.menu .content .box3 {
    width: 320px;
    margin: 20px;
    background: #fff;

}

.container-card-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu .content .box .imgBx {
    position: relative;
    width: 250px;
    height: 200px;


}
.menu .content .box3 .imgBx {
    position: relative;
    width: 262px;
    height: 262px;
    display: flex;
    align-items: center;


}

.menu .content2 .box2 .imgBx {
    position: relative;
    width: 350px;
    height: 300px;


}

.menu .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
    border: 5px solid #fff;
    border-radius: 4%;
}

.menu .content2 .box2 .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
    border-radius: 4%;
}

.menu .content .box3 .imgBx img {
    top: 0;
    left: 0;
    width: 100%;
    height: 252px;
    object-fit: cover;
    transition: transform .3s;
    border-radius: 4%;
}

.menu .content .box .text {
    padding: 15px 0 5px;
}

.menu .content .box .text h3 {
    font-weight: 100;
    color: #fff;
    text-align: left;
    font-size: 1.3em;
}

.txt-center {
    text-align: center !important;
}

.card-footer {
    border-top: 0 !important;
    background: #FFF;
    padding: 0.25rem 1.25rem !important;
}


.container-logo {
    display: flex;
    align-items: center;
    justify-content: right;
}

.product-images {
    height: 200px;
}

.product-image-previews {
    text-align: center;
    float: left;
    cursor: pointer;
    position: relative;
    z-index: 2;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
}

.product-image-previews li {
    padding: 1px;
    height: 58px;
    width: 58px;
    display: flex;
    line-height: 54px;
    overflow: hidden;
    margin-bottom: 0px;
    position: relative;
}

.product-image-previews li:first-child img {
    visibility: visible !important;
}

.product-image-previews img {
    width: 100%;
    vertical-align: middle;
}

.gallery-container {
    width: -webkit-calc(100% - 64px);
    width: calc(100% - 64px);
    margin-left: 64px;
    position: relative;
    min-height: 250px;
}

.gallery-container .carousel-control[data-event=prev] {
    left: -40px;
    z-index: 1;
}

.gallery-container .carousel-control {
    -webkit-transition: left .2s ease-in-out, right .2s ease-in-out, opacity .1s ease-in-out;
    transition: left .2s ease-in-out, right .2s ease-in-out, opacity .1s ease-in-out;
    opacity: 0;
}


.slider1 #slide1-Producto1 {
    opacity: 1;
}

#ul-slide1 #slide1-Producto1 {
    border: 1px solid #000;
}

.slider1 #slide1-Producto2 {
    opacity: 0;
}

.slider1 #slide1-Producto3 {
    opacity: 0;
}

.slider2 #slide2-Producto1 {
    opacity: 1;
}

#ul-slide2 #slide2-Producto1 {
    border: 1px solid #000;
}

.slider2 #slide2-Producto2 {
    opacity: 0;
}

.slider2 #slide2-Producto3 {
    opacity: 0;
}

.slider3 #slide3-Producto1 {
    opacity: 1;
}
#ul-slide3 #slide3-Producto1 {
    border: 1px solid #000;
}

.slider3 #slide3-Producto2 {
    opacity: 0;
}

.slider3 #slide3-Producto3 {
    opacity: 0;
}

.slider4 #slide4-Producto1 {
    opacity: 1;
}
#ul-slide4 #slide4-Producto1 {
    border: 1px solid #000;
}

.slider4 #slide4-Producto2 {
    opacity: 0;
}

.slider4 #slide4-Producto3 {
    opacity: 0;
}

/**/
.slider5 #slide5-Producto1 {
    opacity: 1;
}
#ul-slide5 #slide5-Producto1 {
    border: 1px solid #000;
}

.slider5 #slide5-Producto2 {
    opacity: 0;
}

.slider5 #slide5-Producto3 {
    opacity: 0;
}
/**/
.slider6 #slide6-Producto1 {
    opacity: 1;
}
#ul-slide6 #slide6-Producto1 {
    border: 1px solid #000;
}

.slider6 #slide6-Producto2 {
    opacity: 0;
}

.slider6 #slide6-Producto3 {
    opacity: 0;
}
/**/
.slider7 #slide7-Producto1 {
    opacity: 1;
}
#ul-slide7 #slide7-Producto1 {
    border: 1px solid #000;
}

.slider7 #slide7-Producto2 {
    opacity: 0;
}

.slider7 #slide7-Producto3 {
    opacity: 0;
}
/**/
.slider8 #slide8-Producto1 {
    opacity: 1;
}
#ul-slide8 #slide8-Producto1 {
    border: 1px solid #000;
}

.slider8 #slide8-Producto2 {
    opacity: 0;
}

.slider8 #slide8-Producto3 {
    opacity: 0;
}
/**/
.slider9 #slide9-Producto1 {
    opacity: 1;
}
#ul-slide9 #slide9-Producto1 {
    border: 1px solid #000;
}

.slider9 #slide9-Producto2 {
    opacity: 0;
}

.slider9 #slide9-Producto3 {
    opacity: 0;
}
/**/
.slider10 #slide10-Producto1 {
    opacity: 1;
}
#ul-slide10 #slide10-Producto1 {
    border: 1px solid #000;
}

.slider10 #slide10-Producto2 {
    opacity: 0;
}

.slider10 #slide10-Producto3 {
    opacity: 0;
}
/**/
.slider11 #slide11-Producto1 {
    opacity: 1;
}
#ul-slide11 #slide11-Producto1 {
    border: 1px solid #000;
}

.slider11 #slide11-Producto2 {
    opacity: 0;
}

.slider11 #slide11-Producto3 {
    opacity: 0;
}
/**/
.slider12 #slide12-Producto1 {
    opacity: 1;
}
#ul-slide12 #slide12-Producto1 {
    border: 1px solid #000;
}

.slider12 #slide12-Producto2 {
    opacity: 0;
}

.slider12 #slide12-Producto3 {
    opacity: 0;
}
/**/
.slider13 #slide13-Producto1 {
    opacity: 1;
}
#ul-slide13 #slide13-Producto1 {
    border: 1px solid #000;
}

.slider13 #slide13-Producto2 {
    opacity: 0;
}

.slider13 #slide13-Producto3 {
    opacity: 0;
}
/**/
.slider14 #slide14-Producto1 {
    opacity: 1;
}
#ul-slide14 #slide14-Producto1 {
    border: 1px solid #000;
}

.slider14 #slide14-Producto2 {
    opacity: 0;
}

.slider14 #slide14-Producto3 {
    opacity: 0;
}
/**/
.slider15 #slide15-Producto1 {
    opacity: 1;
}
#ul-slide15 #slide15-Producto1 {
    border: 1px solid #000;
}

.slider15 #slide15-Producto2 {
    opacity: 0;
}

.slider15 #slide15-Producto3 {
    opacity: 0;
}
@media(max-width:767px) {
    .menu {
        padding-top: 4rem;
    }
}

.content-text {
    display: flex;
    justify-content: center;
}

.sub-content-text {
    width: 95%;
    background: #fff;
    border-radius: 10px;
}

.texto-h4 {
    text-align: center;
    font-family: "Quicksand-Medium" !important;
}

.display-4 {
    font-size: 2.5rem !important;
}

.derechosTexto {
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.derechosTexto p {
    color: #333;
}

.derechosTexto a {
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

.video-circle {
    border-radius: 4%;
    object-fit: cover;
    width: 350px;
    height: 300px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

header.sticky .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}