@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "ChicuOficial-Regular";
    src: url("../fonts/ChicuOficial-Regular.woff");
}

h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
*,
[id] * {
    font-family: "ChicuOficial-Regular" !important;
}

p {
    font-weight: 300;
    color: rgb(33, 47, 61);
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imagenes/fondoPrincipal1.jpg);
    background-size: cover;
}

.banner .content {
    max-width: 900px;
    text-align: center;
}

.banner .content h2 {
    font-family: serif;
    font-size: 5em;
    color: #fff;
}

.banner .content p {
    font-size: 1em;
    color: #AEB6BF;
}

.btn {
    font-size: 1em;
    color: #fff;
    background: #45B39D;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover {
    letter-spacing: 6px;
}

.about {
    background: #F2F4F4;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

header.sticky {
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
}

header.sticky .logo {
    color: #111;
}

header .logo span {
    color: #E53935;
}

header .navigation {
    position: relative;
    display: flex;
    margin-bottom: 0rem !important;
}

header ul {
    position: relative;
    display: flex;
    margin-bottom: 0rem;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

header.sticky .navigation li a {
    color: #111;
}

header .navigation li a:hover {
    color: #ff0157;
}

section {
    padding: 100px;
}

.row {
    padding: 100px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50 {
    position: relative;
    width: 48%;
}

.tituloTexto {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.tituloTexto span {
    color: #E53935;
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx {
    position: relative;
    width: 100%;
    /*min-height: 300px;*/
    height: 100%;
}

.row .col50 .imgBx img {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    /*object-fit: cover;*/
    border: 5px solid #141D25;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    background: #FFF;
}

.menu .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;

}

.menu .content .box {
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
}

.menu .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.menu .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
}

.menu .content .box .imgBx img:hover {
    transform: scale(1.1);
}

.menu .content .box .text {
    padding: 15px 0 5px;
}

.menu .content .box .text h3 {
    font-weight: 100;
    color: #111;
    text-align: left;
    font-size: 1.3em;
}

.chef {
    background: #F5F7D8;
}

.chef .content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 50px;
}

.chef .content .box {
    width: 250px;
    margin: 15px;
}

.chef .content .box .imgBx {
    position: relative;
    width: 100%;
    height: 300px;
}

.chef .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    border: 5px solid #376887;
}

.chef .content .box .text {
    text-align: center;
    padding: 15px 0 5px;
}

.chef .content .box .text h3 {
    font-weight: 400;
    color: #111;
}

.chef .content .box .text a {
    text-decoration: none;
}

.testimonios {
    background: #1C3347;
}

.blanco .tituloTexto,
.blanco p {
    color: #fff;
}

.testimonios .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonios .content .box {
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonios .content .box .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonios .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonios .content .box .texto {
    text-align: center;
}

.testimonios .content .box .texto p {
    color: #666;
    font-style: italic;
}

.testimonios .content .box .texto h3 {
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 400;
    text-align: end;
}

.txt-comentarios {
    color: rgb(33, 47, 61) !important;
    text-decoration: underline;
}

.txt-comentario-dentro {
    color: rgb(33, 47, 61) !important;
}

.box-coments {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.nombre-comentario-testimonio {
    color: red !important;
    text-align: end;
}

.box-relleno .cajaTexto input[type="submit"] {
    background: rgb(33, 47, 61) !important;
}

.texto .box-comentario hr {
    border: 0 none #000000;
    border-top: 1px solid #000000;
    height: 1px;
    margin: 5px 0;
    display: block;
    clear: both;
}

.box .texto .box-comentario input[type="submit"] {
    cursor: pointer;
}

.box-coments p {
    text-align: center
}

.contacto {
    background: url(../imagenes/fondo-contacto.jpg);
    height: 100%;
    padding: 100px;
}

.formaContacto {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 10px;
}

.formaContacto h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.formaContacto .cajaTexto {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.formaContacto .cajaTexto input,
.formaContacto .cajaTexto textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.formaContacto .cajaTexto input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.derechosTexto {
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.derechosTexto p {
    color: #333;
}

.derechosTexto a {
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}

@media(max-width:991px) {

    header,
    header.sticky {
        padding: 10px 20px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.activo {
        width: 100%;
        height: cal(100% - 70px);
        position: fixed;
        top: 70px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }

    header .navigation li {
        margin-left: 0;
    }

    header .navigation li a {
        color: #111;
        font-size: 1.6em;
    }

    .menuAlternar {
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../icono/bot%C3%B3n-menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .menuAlternar.activo {
        background: url(../icono/bot%C3%B3n-cerrar-menu.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header .sticky .menuAlternar {
        filter: invert(1);
    }

    section {
        padding: 20px;
    }

    .banner .content h2 {
        font-size: 3em;
        color: #fff;
    }

    .row {
        flex-direction: column;
        padding-left: 150px;
    }

    .row .col50 {
        position: relative;
        width: 100%;
    }

    .row .col50 .imgBx {
        height: 200px;
        margin-top: 25px;
    }

    .menu .content {
        margin-top: 20px;
    }

    .menu .content .box {
        margin: 10px;

    }

    .menu .content .box .imgBx {
        height: 260px;
    }

    .titulo {
        text-align: center;
    }

    .tituloTexto {
        font-size: 1.8em;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 15px;
    }

    .testimonios .content .box {
        margin: 10px;
        padding: 20px;
    }

    .formaContacto {
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .banner .content h2 {
        font-size: 2.5em;
        color: #fff;
    }
}

.img-size-auto {
    width: 100%;
    height: 100%;
}

.width-25 {}

.novedades {
    padding: 0px;
}

.flex-row {
    padding-top: 25px !important;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.flex-row .width-25 {
    padding-right: 0px;
    padding-left: 0px;
}

.titulo-novedades {
    margin-top: 25px;
    text-align: center;
    font-size: 24px;
}

.scrolling-wrapper {
    overflow-x: auto;
}

.card-block {
    width: 380px;
    height: 380px;
    background-color: #fff;
    border: none;
    background-position: center;
    background-size: cover;
    transition: all 0.2s ease-in-out !important;
    border-radius: 20px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: none;
        opacity: 0.9;
    }
}

.card-1 {
    background-color: #4158D0;
    background-image: url("../imagenes/nikoletta/cinturones.jpeg");
}

.card-2 {
    background-color: #0093E9;
    background-image: url("../imagenes/nikoletta/polos.jpeg");
}

.card-3 {
    background-color: #00DBDE;
    background-image: url("../imagenes/nikoletta/cinturonv2.jpeg");
}

.card-4 {
    background-color: #FBAB7E;
    background-image: url("../imagenes/nikoletta/cinturon-3.jpeg");
}

.card-5 {
    background-color: #85FFBD;
    background-image: url("../imagenes/background-login.jpg");
}

.w-5 {
    max-width: 27.333333%;
}

.upper {
    text-transform: uppercase;
}

@media(max-width:991px) {
    .card-block {
        width: 185px;
        height: 245px;

    }

    .col-4 {
        max-width: 66.6666%;
    }

}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

#whatsapp {
    z-index: 10000000;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

svg {
    width: 80px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, .4));
}

circle {
   fill: #25d366;
}
path {
   fill: #fff;
}

